/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 6 version
*/

@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

:root {
	--size: 3;
	--field-width: 100vw;
	--field-color: #fff2e6;
	--box-width: calc((var(--field-width) / var(--size)) * 0.8);
	--box-margin: calc((var(--field-width) / var(--size)) * 0.1);
	--box-color: #ffe6cc;
}

html {
	width: 100vw;
	height: 100vh;
}

body, input, button {
	font-family: 'Exo 2', sans-serif;
	color: rgb(55, 48, 56);
}

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

#topRow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
	width: 100%;
	height: 10vh;
}

#menu {
	display: none;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

#scoreBlock {
	display: none;
	font-size: 18px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

#gameBlock {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	display: none;
}

#field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	width: var(--field-width);
	height: var(--field-width);
	-webkit-box-shadow: 0 0 0 var(--box-margin) var(--field-color);
	        box-shadow: 0 0 0 var(--box-margin) var(--field-color);
	font-size: 32px;
	margin-bottom: 20px;
	background-color: var(--field-color);
	border-radius: 10px;
}

[id^="box"] {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	background-color: var(--box-color);
	width: var(--box-width);
	height: var(--box-width);
	margin: var(--box-margin);
	border-radius: 10%;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

button {
	width: 50px;
	height: 30px;
}

#controls {
	display: none;
	width: 200px;
	height: 100px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.on-mid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.around {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

#startBlock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	top: 40vh;
	width: 100%;
	padding: 20px 0;
	background-color: rgba(255, 255, 255, 0.7);
}
#sizeControl {
	margin-top: 10px;
	font-size: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
#size {
	margin: 0 10px;
}

#startGame {
	margin-top: 30px;
	width: 200px;
}

#gameOver {
	display: none;
	position: absolute;
	top: 25vh;
	width: 100%;
	font-size: 64px;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-bottom: 20px;
}

#gameOver p{
	padding: 0 10px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}