* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--size: 3;
	--field-width: min(100vw, 85vh);
	--field-color: rgb(255, 233, 206);
	--box-width: calc(var(--field-width) / var(--size));
	--box-color: rgb(231, 171, 121);
	--box-border-width: calc((var(--field-width) / var(--size)) / 10);
}

html {
	width: 100vw;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}

#topRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	height: 10vh;
}

#menu {
	display: none;
	align-items: center;
	justify-content: space-around;
}

#scoreBlock {
	display: none;
	font-size: 18px;
	flex: 1;
}

#gameBlock {
	display: none;
}

#field {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: var(--field-width);
	height: var(--field-width);
	font-size: 32px;
	margin-bottom: 20px;
	background-color: var(--field-color);
	box-shadow: 0px 0px 0px var(--box-border-width) var(--field-color);
	border-radius: 10px;
}

[id^="box"] {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--box-color);
	width: var(--box-width);
	height: var(--box-width);
	transition: .2s;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

[id^="box"]::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 0px 0px var(--box-border-width) var(--field-color);
	border-radius: 20%;
}

[id^="box"]::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	box-shadow: inset 0px 0px 0px var(--box-border-width) var(--field-color);
}

button {
	width: 50px;
	height: 30px;
}

#controls {
	display: none;
	width: 200px;
	height: 100px;
	flex-direction: column;
	justify-content: space-between;
}
.on-mid {
	display: flex;
	justify-content: space-around;
}
.around {
	display: flex;
	justify-content: space-between;
}

#startBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#sizeControl {
	margin-top: 10px;
	font-size: 24px;
	display: flex;
}
#size {
	margin: 0 10px;
}
#startGame {
	margin-top: 30px;
	width: 200px;
}
#gameOver {
	display: none;
	font-size: 32px;
	margin-bottom: 20px;
}